@import './sass/variables';
.about__page {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: -15px;
    padding-inline: 2rem;
    color: $primary-color;
    margin-inline:20px ;
    @media (min-width: 576px) {
      padding-inline: 5rem;
    }
      

      h4 {
        background-color: $primary-color;
        color: white;
        padding-block: 0.8rem;
        border-radius: 5px;
        margin-bottom: 0;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      p {
        background-color: $background-color;
        padding: 1rem;
        border-radius: 5px;
        
        margin-block: -10px;
        position: relative;
        z-index: -1;
        top: -0.1rem;
        opacity: 0;
        max-height: 0px;
        overflow: hidden;
        transition: opacity 2s ease, max-height 2s ease; // Augmentez les durées de transition selon vos préférences
      }

      .visible {
        opacity: 1;
        max-height: 120px;
         // Définissez une valeur supérieure à 0 pour que l'élément soit visible
      }
      
    }
    .fa-chevron-up,
    .fa-chevron-down {
    transform: rotate(180deg);
    transition: transform 1s ease; // Applique une rotation de 180 degrés lorsque la classe rotate est ajoutée
    }
    
    /*
      .chevron-rotate {
        transform: rotate(180deg); // Applique une rotation de 180 degrés lorsque la classe est présente
      }

      i{
        transition: transform 1s ease;
      }

  }

  .about-service {
    // ... autres styles
  
    p {
      opacity: 0; // Par défaut, le paragraphe est invisible
      max-height: 0; // Assurez-vous que le contenu est caché
      overflow: hidden; // Masque tout contenu excédant la hauteur maximale
  
      &.visible {
        overflow: visible;
        opacity: 1; // Lorsque la classe visible est ajoutée, le paragraphe devient visible
        max-height: 20px; // Par exemple, ajustez la hauteur maximale selon vos besoins
        transition: opacity 1s ease, max-height 1s ease; // Appliquez la transition à l'opacité et à la hauteur maximale
      }
    }
  }*/
  