@import './sass/variables';
.about__page {
  padding-top: 20px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 2rem;
    align-items: center;
    color: $primary-color;
    
    @media (min-width: 576px) {
      padding-inline: 7rem;
    }
      
  }
      