@import './sass/variables';

.apartment-page {
  margin-inline: 30px;
  padding: 20px;
  color: $primary-color;

  .apartment-main {
    display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    
  }
}
}
.apartment-details{
  display: flex;
  flex-direction: column;
 
  @media  (min-width: 579px) {
    display: flex;
    flex-direction: row;
  }
}

