@import './sass/variables';
@import '../../components/Collapse/Collapse.scss';
@import '../../components/ApartEquipements/ApartEquipements.scss';

.apartment-page {
  margin-inline: 30px;
  padding: 20px;
  color: $primary-color;

  .apartment-main {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.apartment-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
 gap: 20px;
  
  @media  (min-width: 576px) {
    display: flex;
    flex-direction: row;
    width: c;
  }
}







