@import './sass/variables';
@import '../../components/Collapse/Collapse.scss';

.apartment-page {
  margin-inline: 10px;
  padding: 20px;
  color: $primary-color;

  .apartment-main {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  li{
    list-style: none;
    border: none;
  }
  
}

.apartment-collapse {
  padding-top: 30px;
  place-items: start;
  display: flex;
  flex-direction: column;
  align-content: center;

  @media  (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 20px;


  }
}







