.kasa-header{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-image: url("https://s3-eu-west-1.amazonaws.com/course.oc-static.com/projects/front-end-kasa-project/accommodation-20-1.jpg");
}