@import './sass/variables';
.main{
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  background-color: $background-color;
  border-radius: 8px;
  height: auto;
  margin-inline: 7%;
  @media screen and (max-width: 376px) {
    background-color: white;
}
}

.main-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  gap: 20px;
  @media screen and (max-width: 375px) {
    flex-direction: column;
  }
}
 





