@import './sass/variables';
.main{
  display: none;
  display: flex;
  justify-content: center; 
  align-items: center; /* Centre le contenu verticalement */
  border-radius: 8px;
  height: auto;
  margin-inline: 20px;
  @media (min-width: 576px) {
    background-color: $background-color;
}
}

.main-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  gap: 20px;
  @media (max-width: 768px) {
    width: 95%;
}
  
}
 





