@import './sass/variables';
.main{
  display: none;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 8px;
  height: auto;
  
  margin-inline: 20px;
  @media (min-width: 576px) {
    background-color: $background-color;
    margin-inline: 50px;
}
}

.main-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
  gap: 5px;
  @media (min-width: 576px) {
    margin-top: 0;
    gap: 20px;
    padding: 20px;
}
  
  
}
 





