.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .gallery-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    min-width: 86%; 
    max-width: 86%;
   /* align-content: center;
    align-items: center;
   /* max-width: 80vw;
    margin: 0;
    padding: 0;*/
} 
.gallery-container a{

    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

 .gallery-item { 
    display: flex;
     flex-direction: column;
     width: calc((100% - 20px) /4); 
     height: 200px; 
     background-color: #ff6060;
    box-shadow: inset 10px -40px 40px 0px rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 10px; 
     margin: 10px; 
 }

 .gallery-item img { 
     width: 100%; 
     height: 100%; 
 }

 .gallery-item p{
    padding-right: 50px;
 }