// NavBar.scss
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  margin: auto;
}

.navbar ul {
  display: flex;
  gap: 10px;
  color: #ff6060;
  font-family: sans-serif;
  padding: 0;
  font-size: 14px;
  @media (min-width: 576px) {
    font-size: 17px;
    gap: 20px;
  }
}

.navbar ul li {
  list-style: none;
}

.navbar a {
  color: #ff6060;
  text-decoration: none;
}

.active-nav-item {
  border-bottom: #ff6060 1px solid; 
}
