@import './sass/variables';

.apartment-page {
  margin: auto;
  padding: 20px;
  color: $primary-color;

  .apartment-main {
    display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    
  }
}
}

