@import './sass/variables';
.error-main{
    color: $primary-color;
    text-align: center;
    margin-bottom: 100px;
    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 150px;
        margin-bottom: 20px;

    }
    h2{
        font-size: 40px;
        font-weight: 400;
        padding-block: 50px;
    }
    a{
        color: $primary-color;    
    }

}