@import './sass/variables';

.collapse {
  //margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: -15px;
  max-width: 1200px;
  //padding-inline: 2rem;
  color: $primary-color;

  //margin-inline:20px ;
  @media (min-width: 576px) {
    // padding-inline: 5rem;
  }

  h4 {
    
      background-color: $primary-color;
      color: white;
    padding-block: 0.8rem;
      border-radius: 5px;
    margin: 0;
    padding-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    p {
    background-color:$background-color;
      padding: 1rem;
      border-radius: 5px;
      margin-block: -10px;
      position: relative;
      z-index: -1;
      top: -0.1rem;
      opacity: 0;
      max-height: 0px;
      overflow: hidden;
    transition: opacity 1.5s ease, max-height 1.5s ease; // Augmentez les durées de transition selon vos préférences
  }

  .visible {
        opacity: 1;
        max-height: 200px;
    
      }

     /* @keyframes rotateToDown {
        0% {
          transform: rotate(0deg);
        }
        
        100% {
          transform: rotate(180deg);
        }
      }
      
      @keyframes rotateToUp {
        0% {
          transform: rotate(-0deg);
        }
         
        100% {
          transform: rotate(-180deg);
        }
      }
      */
      
      i{
        color: aliceblue;
      }

      .open {
        color:white;
        transform: rotate(0deg); /* Rotation pour l'état ouvert */
        transition: transform 0.5s ease; /* Transition fluide */
      }
      
      .closed {
        transform: rotate(-180deg); /* Pas de rotation pour l'état fermé */
        transition: transform 0.5s ease; /* Transition fluide */
      }
      
       
    }
 


