@import './sass/variables';
.apartment-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    .apartment__description,
    .apartment__equipement {
        flex: 0 0 calc(50% - 20px);

      h4 {
        background-color: $primary-color;
        color: white;
        padding-block: 0.7rem;
        border-radius: 0.7rem;
        margin-bottom: 0;
        padding-inline: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      p,
      ul {
        background-color: $background-color;
        padding: 1rem;
        border-radius: $border-radius;
        margin-block: 0;
        position: relative;
        top: -0.3rem;
        z-index: -1;
      }
    }
  }
