.kasa-footer{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-block: 35px;
    margin-top: 40px;

   
        ul{
            padding-right: 20px;
            align-items: left;
            list-style: none;
            @media (min-width: 576px) {
                display: flex;
                
            }

        }
}