.kasa-footer{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 30px;
    margin-top: 30px;
}