.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: auto;
}
.navbar ul{
        display: flex;
        gap: 20px;
        color: #ff6060;
        font-family: sans-serif;
    }

.navbar ul li{
    list-style: none;
}

.navbar a{
    color: #ff6060;
    list-style: none;
    text-decoration: none;
}
